body{
    background-image: url(https://tm.ibxk.com.br///2016/08/05/05191557555622.jpg?ims=1200x675);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;   
    display: flex;
    flex-direction: column;
    align-items: center;

}
.type{
    display: flex;
    flex-direction: row;
}
.image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.title{
    color: rgb(0, 150, 255);
    font-size: 90px;
    font-family: 'Segoe UI';
    font-weight: 400;
    margin: 0px;   
}
@keyframes pulse {
    10%{
        text-shadow: 2px 2px 5px rgba(0, 0, 255, 0.8);
    }
    50%{
        text-shadow: 2px 2px 5px rgba(0, 0, 255, 0.5);
    }
    100%{
        text-shadow: 2px 2px 5px rgba(0, 0, 255, 0.2)
    }
}
.nameInput{
    width: 350px;
    height: 35px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 18px;
    font-family: Arial;
    padding-left: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    transition: all 1s ease;
    margin-top: 40px;
}
.passwordInput{
    width: 350px;
    height: 35px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 18px;
    font-family: Arial;
    padding-left: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    transition: all 1s ease;
    margin-top: 40px;
}
.nameInput:focus, .passwordInput:focus{
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
}
.setData{
    width: 100px;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
    font-family: Arial;
    font-weight: bolder;
    background-color: gray;
    color: white;
    transition: all 0.1s ease;
    margin: 20px;
}
.setData:active{
    background-color: rgb(0, 150, 255);
    width: 105px;
    height: 27px;
    text-shadow: 3px 3px 5px blue;   
}
.nameMessage, .passwordMessage{
    font-size: 16px;
    font-family: Arial;
    font-weight: bolder;
    color: white;
    padding: 5px;
    margin: 0px ;
    display: none;
}